body {
  margin: 0;
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.top-bar {
  width: 100vw;
  height: 58px;
  background-color: #3f5aa9;
    display: flex;

  position: relative;
  left: 50%;
  margin-left: -50vw;
  margin-top: 15px;
  margin-bottom: 45px;

  box-sizing: border-box;
}


.site-header {
  margin: 0;
  padding-left: 100px;
  padding-top: 12px;
}

.site-header h1 {
  margin: 0;
  font-size: 15px;
  line-height: 1.15;
  font-weight: 800;
  color: white;
}
.site-header h2 {
  margin: 0;
  font-size: 15px;
  line-height: 1.15;
  font-weight: 800;
  color: white;
}
.research-list h5{
  font-size: 20px;
  font-weight: 500;


}
.ijs-logo {
  height: 60px;
  width: auto;
  margin-left: auto;
  margin-right: 20px;   /* pushes logo left from the right edge */

  display: block;
}

.container {
  max-width: 1300px;
  margin: 18px auto 50px auto;
  padding-left: 3px;
  padding-right: 30px;
}



.hero {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 45px;
}

.profile-photo {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.hero-name {
  font-size: 30px;
  font-weight: 800;
  line-height: 1;
  margin-left: 0;
}

p {
  max-width: 1200px;
  font-size: 18px;
  line-height: 1.6;
}
.notice-box {
  background: #ffffb3;
  border: 4px solid black;
  padding: 3px 14px;
  margin: 30px 0;
  max-width: 1200px;
}

.notice-box p {
  margin: 0;
  font-size: 22px;
  line-height: 1.25;
}

.notice-box a {
  color: blue;
  text-decoration: underline;
}
.subtext {
    font-size: 20px;
  font-weight: 500;
  line-height: 1.2;        /* lighter than h3, similar to h4 */
  margin-left: 0px;        /* spacing from title */
  opacity: 0.9;            /* slightly softer */
}

h3 {
  font-size: 26px;
  margin-top: 35px;
  margin-bottom: 10px;
}

ul {
  font-size: 18px;
  line-height: 1.6;
}

a {
  color: blue;
}

@media (max-width: 800px) {
  .container {
    margin: 20px;
  }

  .site-header h1,
  .site-header h2 {
    font-size: 28px;
  }

  .hero {
    display: block;
  }

  .profile-photo {
    width: 100%;
    max-width: 400px;
  }

  .hero-name {
    font-size: 42px;
    margin-top: 20px;
  }
}